<% provide(:title, t(:help)) %>
<div class="row">
	<div class="span12">
		<h1><%= t(:help)%></h1>
		<hr/>
	</div>
	<% if signed_in? %>
	  <%= textilize Page.find_by_key(t(:help_page_log)).value if Page.find_by_key(t(:help_page_log)).value.present?%>
	<% else %>
	  <%= textilize Page.find_by_key(t(:help_page)).value if Page.find_by_key(t(:help_page)).value.present?%>
	<% end %>
</div>