<% provide(:title, t('activerecord.attributes.user.password')) %> <h1><%= t(:recover) %></h1>
<hr/>
<div class="row">
	<div class="span6 offset3">
		<%= form_tag recover_url, :method => 'get' do %>
		E-Mail:
		<%= email_field_tag :email, params[:email], :placeholder => t(:type_email) %>
		<hr/>
		<%= t(:recover_info) %>						
		<% end %>		
	</div>
</div>
