<% provide(:title, t(:schemes_arg)) %>
<div class="row">
	<div class="span10 offset1">
		<h1><%= t(:edit) %></h1>
		<hr/>
		<%= render 'form' %>
	</div>
</div>
<% if current_user.show_html? %>
<% content_for :script do %>
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">
	bkLib.onDomLoaded(function() {
      nicEditors.allTextAreas({fullPanel : true});
   }); 	       
</script>
<% end %>
<% end %>