<% provide(:title, 'Usuários') %>
<div class="row">
	<h1>Usuários</h1>
	<div class="span10 offset1">		

		<%= will_paginate %>

		<ul class="users">
			<%= render @users %>
		</ul>

		<%= will_paginate %>
	</div>
</div>