<footer class="footer" style="margin-bottom: 50px">
  <small>
    <a href="#">ARG</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:about),   about_path %> |</li>
      <li><%= link_to t(:contact), contact_path %> |</li>
      <li><b>Idiomas/Languages:</b> <%= language_links %> </li>
    </ul>
  </nav>
</footer>
